[data-theme="light"] {
    --bg-primary: #ffffff;
    --hover-bg: #f4f6f8;
    --accent-color: #0052cc;
    --danger-color: #ff4842;
    --text-primary: #212b36;
    --text-secondary: #637381;
    --text-muted: #919eab;
    --card-bg: #ffffff;
    --card-border: #edeff1;
    --dropdown-bg: #ffffff;
    --dropdown-border: #edeff1;
    --sidebar-active-bg: #e6f0fa;
    --sidebar-background: #f7f7f7;
}

[data-theme="dark"] {
    --bg-primary: #050517;
    --hover-bg: rgba(255, 255, 255, 0.05);
    --accent-color: #0052cc;
    --danger-color: #ff4842;
    --text-primary: #ffffff;
    --text-secondary: #a3b1bf;
    --text-muted: #637381;
    --card-bg: #050517;
    --card-border: #293347;
    --dropdown-bg: #212b36;
    --dropdown-border: #333d48;
    --sidebar-active-bg: #ffffff;
    --sidebar-background: #0C0C35;
}